@import "normalize";
@import "variables";

body {
  color: var(--text-dark);
  background-color: var(--bg);
  height: 100vh;
  font-size: var(--text-main);
  font-style: normal;
  font-weight: var(--w-bold);
  line-height: normal;
}

