@import "normalize";
@import "variables";

body {
  color: var(--primary);
  background-color: var(--bg);
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: var(--text-base);
  font-style: normal;
  font-weight: var(--w-regular);
  line-height: normal;
}

