:root {
  --bg: #0E1014;
  --primary: #E4E5EA;
  --gray: #656566;
  --main-gradient: #FCB045, #FF3F78;
  --text-small: 10px;
  --text-xs: 12px;
  --text-base: 16px;
  --text-lg: 18px;
  --w-regular: 400;
  --w-light: 300;
  --w-medium: 500;
}
