:root {
  --bg: white;
  --bg-dark: #242222;
  --bg-card: #1d1717;

  --aside: #efeef6;
  --aside-dark: #8888bf;

  --text-dark: #1C2A39;
  --text-white: #ececf2;

  --black: black;
  --white: white;

  --text-gray: #5c6a79;
  --accent: #756AD3;
  --primary: #9e98dc;
  --secondary: #ff8fe6;
  --about-bg: #FFE0E2;;
  --btn: #4c3db2;
  --danger: #FF353A;
  --star-fill: #f2c94c;
  --star-empty: #eeedf5;

  //sizes
  --text-main: 10px;
  --text-main-minus: 9px;
  --text-small: 8px;
  --text-xs: 12px;
  --text-xs-plus: 13px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-2xl: 24px;
  --text-3xl: 32px;

  --w-regular: 400;
  --w-medium: 500;
  --w-bold: 700;
  --w-black: 900;
}
